// SYNRC BLACK Color Scheme CSS Overlay

h1, h2, h3 { color: #5BC2E7; }
nav, body, header { background-color: #002; }
header { margin-bottom: -100px; }
header h1 { color: white; }
main, footer { background-color: #002; }
footer { color: #18F8F8; }
nav a { background-color: #335; color: #5BC2E7; }
nav a:visited { color: #5BC2E7; }
a: hover { background-color: #335; }
aside { background-color: #433363; }
aside h3 { color: #5BC2E7; }
aside div { color: white; }
aside a, main a, main a:visited { color: white; }
figure code, figure pre { color:white; background-color: #356; }
main b { color: #5BC2E7; }

@media(min-width: 550px)  { figure code { border: 10px solid #D3D3F3; } }
@media(min-width: 768px)  { figure code { border: 10px solid #D3D3F3; } }
@media(min-width: 1280px) { figure code { border: 10px solid #D3D3F3; } }

main section { color:white; background-color: #002; }
main section:nth-of-type(even) { margin-left: auto; margin-right: auto; max-width: 1200px; }

