header { padding-top: 80px; }
main   { padding-top: 80px; }
.dvu   { margin-bottom:-12px; height:36px; padding-right: 10px; content:url(djvu.png);  }
.pdf   { margin-bottom:-12px; height:36px; padding-right: 10px; content:url(pdf.jpg);  }
.se    { background-color: DarkSlateBlue; color: white; border-radius: .4em; padding: 1 5 1 5; margin-right: 2px; }
.sel   { background-color: DarkSlateBlue; color: white; border-radius: .4em; padding: 0 10 0 10; margin-right: 3px; }
.select{ background-color: DarkSlateBlue; color: white; border-radius: .1em; padding: 1 10 1 10; margin-left: -6px; margin-right: 5px; }
